{% extends "layout.html" %}
{% block style %}
	<link rel="stylesheet" type="text/css" href="./static/css/staff.css">
	<link rel="stylesheet" type="text/css" href="./static/css/piano.css">
{% endblock style %}

{% block scripts %}
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/keyboard.js') }}"></script>
 <!--  <script type="text/javascript" src="./static/js/keyboard.js"></script> -->
{% endblock scripts %}

{% block keyboard %}
<!-- {% include "partials/notes.html" %} -->
<h1>The Piano</h1>
	<div id="keyboard">
		<div class="key white"><p>C</p></div>
		<div class="key black"><p>C&sharp;<br> D&flat;</p></div>
		<div class="key white"><p>D</p></div>
		<div class="key black"><p>D&sharp;<br> E&flat;</p></div>
		<div class="key white"><p>E</p></div>
		<div class="key white"><p>F</p></div>
		<div class="key black"><p>F&sharp;<br> G&flat;</p></div>
		<div class="key white"><p>G</p></div>
		<div class="key black"><p>G&sharp;<br> A&flat;</p></div>
		<div class="key white"><p>A</p></div>
		<div class="key black"><p>A&sharp;<br> B&flat;</p></div>
		<div class="key white"><p>B</p></div>
	</div>
{% endblock keyboard %}